<div class="pokemon-card" [ngClass]="primaryTypeBgColor">
  <div class="pokemon-info">
    <div class="dots"></div>
    <p id="number">#{{ id }}</p>
    <p id="name">{{ name }}</p>
    <div class="types-holder">
      <type-tag
        class="type-tag"
        *ngFor="let type of types"
        [type]="type"
      ></type-tag>
    </div>
  </div>
  <div class="images">
    <div class="no-overflow">
      <img class="type-shadow" [src]="primaryTypeImage" alt="" />
    </div>
    <img class="pokemon-art" [src]="image" [alt]="image" />
  </div>
</div>
