@import "../../../../utils/mixins"
@import "../../../../utils/variables"

.evo-screener
    @include regular-font
    padding: 15px
    .introduction
        color: $text-title-red
        font-weight: bold
        margin-top: 0
    .evolution-container
        display: flex
        justify-content: space-around
        .evolution
            cursor: pointer
            margin: 5px
            display: flex
            flex-direction: column
            align-items: center
            img
                max-width: 70px
            p
                @include regular-font
                font-size: 16px
