<div class="pokemon-detail">
  <div class="pokemon-info-section">
    <div class="back-arrow" (click)="goBack()"></div>
    <div class="number">
      #
      <span>
        {{ displayNumber }}
      </span>
    </div>
    <p class="name">{{ name }}</p>
    <p class="generation">Generation</p>
    <div class="types-holder">
      <interactive-type-tag
        class="type-tag"
        *ngFor="let type of types"
        [type]="type"
      ></interactive-type-tag>
    </div>
    <div class="menu">
      <span class="menu-option" (click)="changeScreen('Data')"
        >Pokedex Data</span
      >
      <span class="menu-option" (click)="changeScreen('Stats')">Stats</span>
      <span class="menu-option" (click)="changeScreen('Evolutions')"
        >Evolutions</span
      >
    </div>
    <div class="screener">
      <poke-data-screener
        *ngIf="screenSelection == 'Data'"
        [description]="pokemonDescription"
        [displayableWeight]="displayableWeight"
        [displayableHeight]="displayableHeight"
        [pokemonSpecie]="pokemonSpecie"
      ></poke-data-screener>
      <poke-stats-screener
        *ngIf="screenSelection == 'Stats'"
        [stats]="pokemonResponse.stats"
      ></poke-stats-screener>
      <poke-evo-screener
        *ngIf="screenSelection == 'Evolutions'"
        [url]="evolutionChainURL"
      ></poke-evo-screener>
    </div>
  </div>
  <div class="pokemon-image-section" [ngClass]="primaryTypeBgColor">
    <div class="dots"></div>
    <img class="type-shadow" [src]="primaryTypeImage" alt="" />
    <img class="pokemon-art" [src]="image" [alt]="image" />
    <div class="buttons">
      <button class="previous" (click)="previousPokemon()">
        Previous #{{ previousPokemonDisplayNum }}
      </button>
      <button class="next" (click)="nextPokemon()">
        Next #{{ nextPokemonDisplayNum }}
      </button>
    </div>
  </div>
</div>
