body {
  background-color: black;
}

.board {
  display: grid;
  box-sizing: border-box;
  grid-template-rows: 30vh 30vh 30vh;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  align-items: center;
  background-color: white;
}

.zone {
  box-sizing: border-box;
  background-color: transparent;
  border: 1px black solid;
  align-self: stretch;
}

.deck {
  grid-area: 1/2;
}

.graveyard {
  grid-area: 1/4;
}

.pendulum1 {
  grid-area: 2/2;
}

.pendulum2 {
  grid-area: 2/4;
}

.sideDeck {
  grid-area: 3/1;
}

.field {
  grid-area: 3/2;
}

.banished {
  grid-area: 3/4;
}

.mainZone {
  grid-area: 1/3/4/3;
  display: grid;
  gap: 10px;
  grid-template-rows: 30vh 30vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: 1px black solid;
  align-items: stretch;
}

.player2 {
  transform: scale(-1, -1);
}

.player2 .zone {
  transform: scale(-1, -1);
}
