<div class="data-screener">
  <p class="introduction">About this pokemon:</p>
  <span class="description"
    >Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book.</span
  >
  <div class="keyvalue">
    <p class="key">Species</p>
    <p class="value">Species</p>
    <p class="key">Height</p>
    <p class="value">Height</p>
    <p class="key">Weight</p>
    <p class="value">Weight</p>
  </div>
</div>
